{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="container w-50 pt-5">
    <h1>Contact</h1>

    {{ form_start(contact_form) }}
        {{ form_widget(contact_form) }}
        <button type="submit" class="btn">Submit</button>
    {{ form_end(contact_form)}}
</div>
{% endblock %}
