{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Books</h1>

    Links:
    <ul>
        <li><a href="{{ path('app_book_create') }}">New Book</a></li>
    </ul>
</div>
{% endblock %}
