<body>
    <h1> New book published!</h1>
    <div>
        <p>A new book was published on the website.</p>
        <ul>
            <li>Title: {{ book.title }}</li>
            <li>ISBN: {{ book.isbn }}</li>
            <li> Plot: {{ book.plot }}</li>
        </ul>
    </div>
</body>